<% content_for :title do %>
    Test Status by Platform
<% end %>

<% content_for :legend do %>
    <ul id="legend"></ul>
<% end %>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "jit-yc" %>
<%= javascript_include_tag "barchart" %>
<%= javascript_include_tag "teststatusbarchart" %>
<%= javascript_include_tag "legenditem" %>
<%= javascript_include_tag "graphs" %>

<script>

    $(document).ready(function() {
        var sysTestChart = new Trap.TestStatusBarChart("sys_test").init();
//        var legend = new Trap.Legend(sysTestChart.getLegend(), "legend").init();

        new Trap.TestStatusBarChart("sys_test").init();
        new Trap.TestStatusBarChart("rsit").init();
        new Trap.TestStatusBarChart("ntf").init();
    });

</script>
<div class="graph"><h2>System Test</h2><div id="sys_test"></div></div>
<div class="graph"><h2>RSIT</h2><div id="rsit"></div></div>
<div class="graph"><h2>UAT</h2><div id="uat"></div></div>
<div class="graph"><h2>NTF</h2><div id="ntf"></div></div>
