<h1>Listing test_cases</h1>

<table>
  <tr>
    <th>Test suite</th>
    <th>Test</th>
    <th>Test name</th>
    <th>Duration</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td><%= test_case.test_suite %></td>
    <td><%= test_case.test_id %></td>
    <td><%= test_case.test_name %></td>
    <td><%= test_case.duration %></td>
    <td><%= test_case.status %></td>
    <td><%= link_to 'Show', test_case %></td>
    <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <td><%= link_to 'Destroy', test_case, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case', new_test_case_path %>
